<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>developer</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

</head>

   <body>

      <div class="container my-4 mt-4">
          <h5>Meet the Developer</h5>
          <h6>Akansha | 3rd Year B.Tech Student</h6>
          <p>I am a 3rd year B.Tech student with a strong interest in Machine Learning,and Software Development.
             This project was developed as an academic and internship-oriented application
             to demonstrate end-to-end machine learning workflow, including data processing,
              model training, and deployment using Flask.
          </p>

      <h5>Technical Skills Used in This Project</h5>
      <ul>
          <li>Python</li>
          <li>Machine Learning (Scikit-learn)</li>
          <li>Flask (Backend Development)</li>
          <li>HTML, CSS, Bootstrap</li>
          <li>Pandas and NumPy</li>
      </ul>

      <h5>Career Objective</h5>
      <p>
         I am actively seeking internship opportunities in software development
         and machine learning where I can apply my technical skills, gain practical
          experience, and grow as a professional developer.
      </p>

   </div>

  <!-- Bootstrap JS (with Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
</body>
</html>



